
.board-list {
  background: transparent;
}

.column-list {
  padding: 0 16px;
  height: 90%;
}

.column {
  height: calc(100% - 20px);
  background: #f1f3f5;
  width: 100%;
  margin-right: 50px;
  padding: 10px;
}

.column-item {
  margin: 20px 0;
  height: 50px;
}
